# Compiled class file
UserhomeActivity.java
activity_userhome.xml
userhome_exit.png
userhome_notice.png
userhome_task.png
userhome_home.png

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
