<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.begin.activity">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.DayNight.NoActionBar"
        android:networkSecurityConfig="@xml/network_security_config">
        <activity android:name=".LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".RegisterActivity"/>
        <activity android:name=".FindpasswordActivity"/>
        <activity android:name=".CueActivity"/>
        <activity android:name=".BaseActivity"/>
        <activity android:name=".CourselistActivity"/>
        <activity android:name=".CourseaddActivity"/>
        <activity android:name=".FileActivity"/>
        <activity android:name=".FileaddActivity"/>
        <activity android:name=".FiledetailActivity"/>
        <activity android:name=".TaskActivity"/>
        <activity android:name=".ReleaseActivity"/>
        <activity android:name=".RecievelistActivity"/>
        <activity android:name=".TaskdetailActivity"/>
        <activity android:name=".InformlistActivity"/>
        <activity android:name=".RecievedtaskActivity"/>
        <activity android:name=".UserhomeActivity"/>
        <activity android:name=".PublishedtaskActivity"/>
        <activity android:name=".PublishdetailActivity"/>
    </application>

</manifest>